@{
    ViewData["Title"] = "Gerenciamento de Acesso";
}

<div class="jumbotron">
    <h1>Seja bem vindo</h1>
    <p>Guardian é um gerenciador de acessos que contra usuários perfis e aplicações, escrito em ASP.NET Core.</p>
    <p>
        <a class="btn btn-primary btn-lg" asp-controller="User" asp-action="Index"><i class="fa fa-plus"></i> Adicionar Usuário</a>
        <a class="btn btn-warning btn-lg" asp-controller="Application" asp-action="Index"><i class="fa fa-plus"></i> Adicionar Aplicação</a>
        <a class="btn btn-success btn-lg" asp-controller="Role" asp-action="Index"><i class="fa fa-plus"></i> Adicionar Perfil</a>
    </p>
</div>