@model Guardian.Models.Role

@{
    ViewData["Title"] = "Criação de Perfil";
}

@using(Html.BeginForm()){
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Name" placeholder="Nome do Perfil">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <p class="text-center">
        <a class="btn btn-lg btn-default" asp-controller="Role" asp-action="Index">CANCELAR</a>
        <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-save"></i>&nbsp; SALVAR</button>
    </p>
}